<template>
        <div class="form-control">
<!--            <div class="form-times" @click="$emit('close')">-->
<!--                <span>&times</span>-->
<!--            </div>-->
            <div class="form-name">
                <label for="nameManga">Tên truyện <span>(*)</span></label>
                <input type="text" name="nameManga" v-model="mangaDetail.story_name">
            </div>
            <div class="form-author">
                <label>Tác giả <span>(*)</span></label>
                <input type="text" v-model="mangaDetail.story_name_author">
            </div>
            <div class="form-desc">
                <label>Mô tả
                    <span>(*)</span> <br>
                </label>
                <textarea v-model="mangaDetail.content_story"></textarea>
            </div>

            <div class="category">
                <p>Thể loại (chọn ít nhất 1) <span>(*)</span></p>
                <div class="category-list">
                    <div class="category-item">
                        <input type="checkbox" value="Viễn tưởng" v-model="mangaDetail.category"/>
                        <label class="category-item__checked">Viễn tưởng</label>
                    </div>
                    <div class="category-item">
                        <input type="checkbox"  value="Hài hước" v-model="mangaDetail.category"/>
                        <label class="category-item__checked">Hài hước</label>
                    </div>
                    <div class="category-item">
                        <input type="checkbox" value="Hành động" v-model="mangaDetail.category"/>
                        <label class="category-item__checked">Hành động</label>
                    </div>
                    <div class="category-item">
                        <input type="checkbox"  value="Kinh dị" v-model="mangaDetail.category"/>
                        <label class="category-item__checked">Kinh dị</label>
                    </div>
                    <div class="category-item">
                        <input type="checkbox" value="Ma" v-model="mangaDetail.category"/>
                        <label class="category-item__checked">Ma</label>
                    </div>
                    <div class="category-item">
                        <input type="checkbox" value="Thần thoại" v-model="mangaDetail.category"/>
                        <label class="category-item__checked">Thần thoại</label>
                    </div>
                    <div class="category-item">
                        <input type="checkbox"  value="Ngôn tình" v-model="mangaDetail.category"/>
                        <label class="category-item__checked">Ngôn tình</label>
                    </div>
                    <div class="category-item">
                        <input type="checkbox" value="Trinh thám" v-model="mangaDetail.category"/>
                        <label class="category-item__checked">Trinh thám</label>
                    </div>
                    <div class="category-item">
                        <input type="checkbox" value="Tiểu thuyết" v-model="mangaDetail.category"/>
                        <label class="category-item__checked">Tiểu thuyết</label>
                    </div>
                    <div class="category-item">
                        <input type="checkbox" value="Truyện ngắn" v-model="mangaDetail.category"/>
                        <label class="category-item__checked">Truyện ngắn</label>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="content-chapter" v-for="(chapters) in mangaDetail.chapter">
                    <label>Nội dung chương {{chapters.number}}</label>
                    <div class="content-checked">
                        <textarea v-model="chapters.content_chapter"></textarea>
                        <input type="checkbox" v-model="mangaDetail"/>
                        <label>Miễn phí chương này</label>
                    </div>
                </div>
        </div>

            <div class="form-price">
                <label>Giá mỗi chương <span>(*)</span></label>
                <input type="text" v-model="mangaDetail.price"/> xu
            </div>
        </div>
</template>

<script>
import Vector from '../../../public/img/Vector.png'

import {ref, toRefs, reactive, computed, onMounted} from 'vue'
import {useStore} from 'vuex'
import {useRoute} from 'vue-router'

export default {
    // props: {
    //     id: {
    //         required: true,
    //         type : String
    //     }
    // },
    setup(props) {
        const vector = ref(Vector)
        //
        // const { company, getCompany} = useCompanises()
        //
        // onMounted(getCompany(props.id))

        const store = useStore()

        const formRegister = reactive({
            story_name: "",
            story_name_author: "",
            content_story: "",
            category: [],
            content1: "",
            input1: "",
            content2: "",
            input2: "",
            content3: "",
            input3: "",
            price: ""
        })

        // const router = useRouter()

        // function updateProduct(id) {
        //     axios.patch(`http://localhost:8000/api/products/${id}`,formRegister)
        //         .then((res) => {
        //             router.push({ name: 'home' });
        //         });
        // }
        // formRegister = mangaInfo

        const route = useRoute()
        store.dispatch('manga/editMangaAction', route.params.id)
        const mangaDetail = computed(() => store.state.manga.mangaDetail);

        return{
            vector,
            formRegister,
            mangaDetail
            // company,
            // getCompany
        }
    }
}

</script>

<style lang="scss" scoped>
$red-color: #EB5757;
$text-color: #437993;

.sidebar{
    height: 1200px;
}

.form-control {
    margin: 50px auto;

    .form-times{
        position: absolute;
        top: 14px;
        right: 26px;
        transition: all 200ms;
        width: 24px;
        height: 24px;
        font-weight: bold;
        display: flex;
        background: $text-color;
        border-radius: 15px;
        align-items: center;
        justify-content: center;
        align-content: center;
        cursor: pointer;
        span{
            font-size: 28px;
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: #fff;
        }
    }

    label {
        margin-left: 30px;
        font-size: 16px;
        font-weight: 600;

        span {
            color: $red-color;
        }
    }


    .form-name {
        display: flex;
        gap: 140px;
        align-items: center;
        margin-bottom: 30px;

        input {
            margin-right: 50px;
            width: 100%;
            border: 1px solid #D2D2D2;
            border-radius: 10px;
            height: 50px;
            padding: 2px 23px 2px 30px;
            outline: 0;
            background-color: #fff;
            font-size: 16px;
        }
    }


    .form-author {
        display: flex;
        gap: 167px;
        align-items: center;
        margin-bottom: 30px;

        input {
            margin-right: 50px;
            width: 100%;
            border: 1px solid #D2D2D2;
            border-radius: 10px;
            height: 50px;
            padding: 2px 23px 2px 30px;
            outline: 0;
            background-color: #fff;
            font-size: 16px;
        }
    }

    .form-desc {
        display: flex;
        align-items: center;
        gap: 176px;
        textarea {
            margin-right: 50px;
            width: 100%;
            border: 1px solid #D2D2D2;
            border-radius: 10px;
            height: 100px;
            padding: 8px 23px 8px 10px;
            outline: 0;
            background-color: #fff;
            font-size: 16px;
            margin-bottom: 35px;
        }
    }
}

.category {
    display: flex;
    margin-bottom: 36px;

    p {
        margin-left: 30px;
        margin-right: 45px;
        font-size: 16px;
        font-weight: 600;

        span {
            color: $red-color;
            display: block;
        }
    }

    .category-list {
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
        gap: 27px 72px;

        .category-item {
            input {

            }

            .category-item__checked {
                margin-left: 16px !important;
            }
        }
    }
}

.content {
    margin-right: 50px;
    .content-chapter {
        display: flex;
        gap: 100px;
        margin-bottom: 36px;

        .content-checked{
            width: 100%;

            textarea {
                margin-right: 50px;
                width: 100%;
                border: 1px solid #D2D2D2;
                border-radius: 10px;
                height: 100px;
                padding: 8px 23px 8px 10px;
                outline: 0;
                background-color: #fff;
                font-size: 16px;
                margin-bottom: 16px;
            }

            .content-add{
                display: flex;
                margin-bottom: 28px;
            }

            img{
                transform: translateX(-4px);
                cursor: pointer;
            }
        }
    }
}

.form-price{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 75px;

    input {
        margin-left:80px;
        margin-right: 10px;
        max-width: 190px;
        width: 100%;
        border: 1px solid #D2D2D2;
        border-radius: 10px;
        height: 50px;
        padding: 2px 23px 2px 30px;
        outline: 0;
        background-color: #fff;
        font-size: 16px;
    }
}
</style>
