<template>
    <div class="dashboard">
        <SideBar/>
        <Mainboard />
    </div>
</template>

<script>
import Mainboard from "../components/Mainboard.vue";
import SideBar from "../components/SideBar";
import Header from "../components/Header";
export default {
    components: { SideBar, Mainboard },
};
</script>

<style lang="scss">
.dashboard{
    display: flex;
}
</style>
