<template>
    <div class="signIn">
        <div class="heading-signIn">
            <img :src="logo1" alt="" />
            <h1>Dokusho</h1>
        </div>
        <form class="form-signIn" @submit.prevent="handleSubmit">
            <h1>Đăng nhập</h1>
            <div class="wrap-signIn">
                <label for="">
                    <span>Địa chỉ E-mail</span>
                    <input type="email" id='email' v-model="userLogin.email"/>
                </label>
                <label for="">
                    <span>Mật khẩu</span>
                    <input :type="passwordFieldType"
                           v-model="userLogin.password"
                           id='password'/>
                    <img
                        :src="eye1"
                        alt=""
                        class="eye "
                        @click="hidePassword =!hidePassword"
                    />

                    <img
                        :src="eyeSlashed1"
                        alt=""
                        class="eyeSlashed"
                        @click="hidePassword = !hidePassword"
                    />
                </label>
                <label for="" class="checkbox">
                    <input type="checkbox" />
                    <span>Ghi nhớ đăng nhập</span>
                </label>
            </div>
            <button class="btn-signIn" type="submit">Đăng nhập</button>
            <h3>Quên mật khẩu?</h3>
        </form>
    </div>
</template>

<script>
import logo from "../../../public/img/logo.png";
import eye from "../../../public/img/eye.png";
import eyeSlashed from "../../../public/img/eyeSlashed.png";

import { ref, computed, reactive } from "vue";
import { useStore } from "vuex";
import { useRouter } from "vue-router";
export default {
    setup() {
        // toggle password
        const logo1 = ref(logo);
        const eye1 = ref(eye);
        const eyeSlashed1 = ref(eyeSlashed);
        const hidePassword = ref(true);
        const password = ref('');
        const passwordFieldType = computed(() => hidePassword.value ? "password" : "text");

        const store = useStore();
        const router = useRouter();

        //lấy data từ input
        const userLogin = reactive({
            email: "",
            password: ""
        })



        // submit form login
        const handleSubmit = () => {
            store.dispatch('login/signInAction', {data : userLogin , router})
            console.log(userLogin);
        }


        return {
            logo1,
            eye1,
            eyeSlashed1,
            hidePassword,
            password,
            passwordFieldType,
            userLogin,
            handleSubmit,
        };
    },
};
</script>

<style lang="scss">
$text-color: #437993;
$text-sign: #d2d2d2;
$bg-color: #f7d0a3;
.active{
    display: none;
}

.signIn {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 12;
    background-color: #fff;
    overflow-y: scroll;
}

.heading-signIn {
    display: flex;
    align-items: center;
    background-color: $bg-color;
    height: 200px;

    img {
        height: 120px;
        margin-left: 50px;
    }

    h1 {
        font-size: 42px;
        font-weight: 500;
        line-height: 50px;
        color: $text-color;
    }
}
.form-signIn {
    max-width: 655px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;

    h1 {
        font-size: 32px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 50px;
    }

    .wrap-signIn {
        label {
            display: block;
            position: relative;
            span {
                font-size: 16px;
                line-height: 20px;
            }
            input {
                width: 650px;
                height: 50px;
                padding: 15px 16px;
                outline: none;
                border: none;
                border: 1px solid #d2d2d2;
                border-radius: 10px;
                margin-top: 15px;
                margin-bottom: 30px;
            }
            .eye {
                position: absolute;
                top: 54%;
                right: 14px;
                transform: translateY(-50%);
                cursor: pointer;
            }
            .eyeSlashed {
                position: absolute;
                top: 54%;
                right: 16px;
                transform: translateY(-50%);
                cursor: pointer;
                display: none;
            }
        }

        .checkbox {
            display: flex;
            margin: 0px 34%;
            span {
                margin-left: 24px;
                margin-bottom: 24px;
                cursor: pointer;
            }
            input[type="checkbox"] {
                height: 19px;
                width: 19px;
                margin: 0;
                cursor: pointer;
            }
        }
    }

    .btn-signIn {
        display: flex;
        justify-content: center;
        outline: none;
        border: none;
        width: 320px;
        padding: 16px 25px;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
        margin: 0 auto;
        background-image: linear-gradient(#666666 0%, #a5a5a5 44%, #d2d2d2 91%);
        color: $text-sign;
        &:hover {
            background: #86c3e0;
            color: #000;
        }
    }

    h3 {
        font-size: 14px;
        color: $text-color;
        font-weight: 300;
        text-align: center;
        margin-top: 20px;
        cursor: pointer;
    }
}
</style>
