<template>
    <Dashboard>
    </Dashboard>
</template>

<script>
import SignIn from './view/SignIn.vue';
import Dashboard from './view/Dashboard.vue';
import SideBar from "./components/SideBar";
export default {
    components: {Dashboard, SideBar}
}
</script>

<style>

</style>
