<template>
    <teleport to="#app">
        <modal :isOpen="isOpenModal" @close="isOpenModal = !isOpenModal"></modal>
    </teleport>
    <footer class="footer">
        <button class="form-add" @click="handleOpen">
            <img :src="addImg">
        </button>
    </footer>
</template>

<script>
import {ref, onMounted} from "vue";
import Add from '../../../public/img/Add.png'

export default {

    setup() {
        const addImg = ref(Add)
        const isOpenModal = ref(false)

        function handleOpen() {
            console.log(isOpenModal)
            return isOpenModal.value = true
        }

        return {
            addImg,
            isOpenModal,
            handleOpen,
        }
    }
}


</script>

<style lang="scss">
$text-color: #437993;
$text-sign: #d2d2d2;
$white: #fff;
$bg-color: #f7d0a3;

.pagination {
    display: flex;
    list-style: none;
}

.page-item {
    height: 24px;
    text-align: center;
    cursor: pointer;
    margin-right: 8px;

    a {
        font-size: 16px;
        border-radius: 15px;
        padding: 14px 8px;
        transform: translateY(-13px);
    }

    &.active {
        background-color: $bg-color !important;
        display: flex;
        filter: none;
        width: 24px;
        height: 24px;
        border-radius: 15px;
        justify-content: center;
        align-content: center;
    }

    &:nth-child(1) {
        margin-right: 44px;

    }

    &:last-child {
        margin-left: 44px;
    }
}


.footer {
    display: inline-flex;
    justify-content: right;
    align-items: center;
    float: right;
    transform: translate(-180px, -47px);
    -webkit-user-select: none;
    user-select: none;

    .totalPage {
        p {
            margin-left: 30px;
        }
    }

    .form-add {
        border: none;
        border-radius: 10px;
        background-color: $text-color;
        height: 30px;
        margin-right: 60px;

        img {
            background-color: $text-color;
            border-radius: 10px;
        }

        &:hover {
            cursor: pointer;
        }
    }
}


</style>
