<template>
    <div class="header" v-if="userLogin.data">
        <h3>Tìm kiếm</h3>
        <div class="header__search">
            <input type="text" />
            <img :src="search1" alt="" />
        </div>
        <div class="header__user">
            <p>{{userLogin.data.name}}</p>
            <img :src="avatar1" alt="" />
        </div>
        <div class="header__notification">
            <img :src="bell1" alt="" class="bell" />
            <img :src="SignIn1" alt="" class="sign"/>
        </div>
    </div>
</template>

<script>
import search from "../../../public/img/Search.png";
import avatar from "../../../public/img/avatar.png";
import bell from "../../../public/img/bell.png";
import SignIn from "../../../public/img/SignIn.png";

import {useStore} from "vuex";
import { ref, computed } from "vue";
import login from "../store/modules/login";
export default {
    setup() {
        const search1 = ref(search);
        const avatar1 = ref(avatar);
        const bell1 = ref(bell);
        const SignIn1 = ref(SignIn);

        const store = useStore();

        const userLogin = computed(() => store.state.login.userLogin);


        return {
            search1,
            avatar1,
            bell1,
            SignIn1,
            userLogin
        };
    },
};
</script>

<style lang="scss">
$text-color: #437993;
$white: #fff;
$text-sign: #d2d2d2;
$bg-color: #f7d0a3;
.header {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid $text-sign;
    h3 {
        font-size: 16px;
        font-weight: 300;
        margin-left: 144px;
        margin-right: 40px;
    }

    .header__search {
        display: flex;
        position: relative;
        flex: 1;
        margin-right: 50px;

        input {
            border: 1px solid $text-sign;
            border-radius: 10px;
            height: 50px;
            width: 100%;
            padding: 2px 23px 2px 30px;
            outline: 0;
            background-color: $white;
            font-size: 16px;
        }

        img {
            position: absolute;
            top: 50%;
            right: 16px;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }

    .header__user{
        margin-right: 56px;
        cursor: pointer;
    }

    .header__notification{
        .bell{
            margin-right: 34px;
            cursor: pointer;
        }
        .sign{
            margin-right: 56px;
            cursor: pointer;
        }

    }
}
</style>
