<template>
    <div class="main-board">
        <Header/>
        <router-view></router-view>
    </div>
</template>

<script>
import Header from './Header.vue';
import TableCategory from "./TableCategory";
import Footer from "./Footer";
import ModalAdd from "./ModalAdd";

export default {
    components: { Header }
};
</script>

<style lang="scss">
.main-board{
    flex: 1;
}
</style>
