<template>
    <div class="modal" v-if="isOpen">
        <form class="form-control">
            <div class="form-times" @click="$emit('close')">
                <span>&times</span>
            </div>
            <div class="form-name">
                <label for="nameManga">Tên truyện <span>(*)</span></label>
                <input type="text" name="nameManga" v-model="manga.story_name">
            </div>
            <div class="form-author">
                <label>Tác giả <span>(*)</span></label>
                <input type="text" v-model="manga.story_name_author">
            </div>
            <div class="form-desc">
                <label>Mô tả
                    <span>(*)</span> <br>
                </label>
                <textarea v-model="manga.content_story"></textarea>
            </div>

            <div class="category">
                <p>Thể loại (chọn ít nhất 1) <span>(*)</span></p>
                <div class="category-list">
                    <div class="category-item">
                        <input type="checkbox" value="1" v-model="manga.category_id"/>
                        <label class="category-item__checked">viễn tưởng</label>
                    </div>
                    <!--                    <div class="category-item">-->
                    <!--                        <input type="checkbox" value="2" v-model="manga.category_id"/>-->
                    <!--                        <label class="category-item__checked">Hài hước</label>-->
                    <!--                    </div>-->
                    <!--                    <div class="category-item">-->
                    <!--                        <input type="checkbox" value="3" v-model="manga.category_id"/>-->
                    <!--                        <label class="category-item__checked">Hành động</label>-->
                    <!--                    </div>-->
                    <!--                    <div class="category-item">-->
                    <!--                        <input type="checkbox" value="4" v-model="manga.category_id"/>-->
                    <!--                        <label class="category-item__checked">Kinh dị</label>-->
                    <!--                    </div>-->
                    <!--                    <div class="category-item">-->
                    <!--                        <input type="checkbox" value="5" v-model="manga.category_id"/>-->
                    <!--                        <label class="category-item__checked">Ma</label>-->
                    <!--                    </div>-->
                    <!--                    <div class="category-item">-->
                    <!--                        <input type="checkbox" value="6" v-model="manga.category_id"/>-->
                    <!--                        <label class="category-item__checked">Thần thoại</label>-->
                    <!--                    </div>-->
                    <!--                    <div class="category-item">-->
                    <!--                        <input type="checkbox" value="7" v-model="manga.category_id"/>-->
                    <!--                        <label class="category-item__checked">Ngôn tình</label>-->
                    <!--                    </div>-->
                    <!--                    <div class="category-item">-->
                    <!--                        <input type="checkbox" value="8" v-model="manga.category_id"/>-->
                    <!--                        <label class="category-item__checked">Trinh thám</label>-->
                    <!--                    </div>-->
                    <!--                    <div class="category-item">-->
                    <!--                        <input type="checkbox" value="9" v-model="manga.category_id"/>-->
                    <!--                        <label class="category-item__checked">Tiểu thuyết</label>-->
                    <!--                    </div>-->
                    <!--                    <div class="category-item">-->
                    <!--                        <input type="checkbox" value="10" v-model="manga.category_id"/>-->
                    <!--                        <label class="category-item__checked">Truyện ngắn</label>-->
                    <!--                    </div>-->
                </div>
            </div>

            <div class="content">
                <div class="content-chapter" v-for="(chapter,index) in chapters" :key="index">
                    <label>Nội dung chương {{ index + 1 }}</label>
                    <div class="content-checked">
                        <textarea v-model="chapter.content_chapter"></textarea>
                        <input type="radio" value="2" v-model="chapter.status"/>
                        <label>Miễn phí chương này</label>
                    </div>
                </div>

            </div>
                <button type="button" @click.prevent='ClickAdd'>
                    <img :src="vector">
                </button>

            <div class="form-price">
                <label>Giá mỗi chương <span>(*)</span></label>
                <input type="text" v-model="manga.price"/> xu
            </div>
            <div class="form-btn">
                <button type="submit" class="form-btn__remove" @click="$emit('close')">Hủy bỏ</button>
                <button type="submit" class="form-btn__save" @click.prevent='SentData(manga)'>Lưu</button>
            </div>
        </form>
    </div>
</template>

<script>
import Vector from '../../../public/img/Vector.png'
import {ref, toRefs, reactive, computed} from 'vue'
import {useStore} from 'vuex'
export default {
    props: {
        isOpen: {
            type: Boolean
        },

    },
    setup(props) {
        const chapters = reactive([{name_chapter: '', content_chapter: '', status: ''}])
        const {isOpen} = toRefs(props)
        const vector = ref(Vector)
        const store = useStore()
        const manga = reactive({
            story_name: "",
            story_name_author: "",
            content_story: "",
            category_id: [],
            price: 100,
            chapter: chapters,
            status_3: ''
        })

        const SentData =(manga) => {
            store.dispatch('manga/createMangaAction',manga)
        }

        // const SentData = (manga) => {
        //     let config = {
        //         method: 'post',
        //         url: 'http://127.0.0.1:8000/api/admin/createnewcms',
        //         headers: {
        //             'Content-Type': 'application/json'
        //         },
        //         data: manga
        //     };
        //     axios(config)
        //         .then(function (response) {
        //             console.log(JSON.stringify(response.data));
        //         })
        //         .catch(function (error) {
        //             console.log(error);
        //         });
        // }


        function ClickAdd() {
            chapters.push({name_chapter:'', content_chapter: '', status: ''})
        }

        // function SentData() {
        //     console.log(manga)
        // }


        return {
            vector,
            manga,
            // handleAddManga,
            chapters,
            ClickAdd,
            SentData
        }
    },
    // data() {
    //     return {
    //         manga: {
    //             story_name: "",
    //             story_name_author: "",
    //             content_story: "",
    //             category_id: [],
    //             price: 0,
    //             content_chapter: '',
    //             status: ''
    //         }
    //     }
    // },
    // methods: {
    //     ...mapActions({
    //         handleAddManga : 'createMangaAction'
    //     })
    // }
}

</script>

<style lang="scss" scoped>
$red-color: #EB5757;
$text-color: #437993;

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 500ms;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 4;

    ::-webkit-scrollbar {
        width: 10px;
    }

}


.form-control {
    position: relative;
    background: #fff;
    width: 938px;
    margin: 65px auto;
    height: 82vh;
    padding: 60px 4px;
    overflow: auto;
    scroll-behavior: smooth;
    border-radius: 5px;

    .form-times {
        position: absolute;
        top: 14px;
        right: 26px;
        transition: all 200ms;
        width: 24px;
        height: 24px;
        font-weight: bold;
        display: flex;
        background: $text-color;
        border-radius: 15px;
        align-items: center;
        justify-content: center;
        align-content: center;
        cursor: pointer;

        span {
            font-size: 28px;
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: #fff;
        }
    }

    label {
        margin-left: 30px;
        font-size: 16px;
        font-weight: 600;

        span {
            color: $red-color;
        }
    }


    .form-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        input {
            margin-right: 50px;
            max-width: 550px;
            width: 100%;
            border: 1px solid #D2D2D2;
            border-radius: 10px;
            height: 50px;
            padding: 2px 23px 2px 30px;
            outline: 0;
            background-color: #fff;
            font-size: 16px;
        }
    }


    .form-author {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        input {
            margin-right: 50px;
            max-width: 550px;
            width: 100%;
            border: 1px solid #D2D2D2;
            border-radius: 10px;
            height: 50px;
            padding: 2px 23px 2px 30px;
            outline: 0;
            background-color: #fff;
            font-size: 16px;
        }
    }

    .form-desc {
        display: flex;
        justify-content: space-between;
        align-items: center;

        textarea {
            margin-right: 50px;
            max-width: 550px;
            width: 100%;
            border: 1px solid #D2D2D2;
            border-radius: 10px;
            height: 100px;
            padding: 8px 23px 8px 10px;
            outline: 0;
            background-color: #fff;
            font-size: 16px;
            margin-bottom: 35px;
        }
    }
}

.category {
    display: flex;
    gap: 20px;
    margin-bottom: 36px;

    p {
        margin-left: 30px;
        margin-right: 45px;
        font-size: 16px;
        font-weight: 600;

        span {
            color: $red-color;
        }
    }

    .category-list {
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
        gap: 27px 72px;

        .category-item {
            input {

            }

            .category-item__checked {
                margin-left: 16px !important;
            }
        }
    }
}

.content {
    margin-right: 50px;

    .content-chapter {
        display: flex;
        justify-content: space-between;
        margin-bottom: 36px;

        .content-checked {
            width: 550px;

            textarea {
                margin-right: 50px;
                max-width: 550px;
                width: 100%;
                border: 1px solid #D2D2D2;
                border-radius: 10px;
                height: 100px;
                padding: 8px 23px 8px 10px;
                outline: 0;
                background-color: #fff;
                font-size: 16px;
                margin-bottom: 16px;
            }

            .content-add {
                display: flex;
                margin-bottom: 28px;
            }

            img {
                transform: translateX(-4px);
                cursor: pointer;
            }
        }
    }
}

.form-price {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 75px;

    input {
        margin-left: 127px;
        margin-right: 10px;
        max-width: 190px;
        width: 100%;
        border: 1px solid #D2D2D2;
        border-radius: 10px;
        height: 50px;
        padding: 2px 23px 2px 30px;
        outline: 0;
        background-color: #fff;
        font-size: 16px;
    }
}

.form-btn {
    display: flex;
    justify-content: right;
    gap: 43px;
    margin-right: 50px;

    .form-btn__remove {
        border: none;
        background: #fff;
        padding: 14px 68px;
        cursor: pointer;
        color: $text-color;
        size: 16px;
    }

    .form-btn__save {
        background: $text-color;
        border-radius: 10px;
        border: none;
        padding: 14px 68px;
        cursor: pointer;
        color: #fff;
    }
}
</style>
