<template>
    <div class="sidebar">
        <div class="heading">
            <img :src="logo1" alt=""/>
            <h1>Dokusho</h1>
        </div>
        <div class="sidebar-list">
            <div class="sidebar-item">
                <img :src="Bars1" alt=""/>
                <p>Dashboard</p>
            </div>
            <div class="sidebar-item">
                <img :src="User2" alt=""/>
                <p>Quyền quản trị</p>
            </div>
            <div class="sidebar-item">
                <img :src="User1" alt=""/>
                <p>Quản lý người dùng</p>
                <img :src="TopArrow1" alt="" class="arrow"/>
            </div>
            <router-link to="/table" class="sidebar-item">
                <img :src="Book1" alt=""/>
                <p>Quản lý truyện</p>
                <img :src="TopArrow1" alt="" class="arrow"/>
            </router-link>
            <div class="sidebar-item">
                <img :src="Setting1" alt=""/>
                <p>Cài đặt</p>
            </div>
        </div>
    </div>
</template>

<script>
import {ref} from "vue";
import Bars from "../../../public/img/Bars.png";
import Book from "../../../public/img/Book.png";
import Setting from "../../../public/img/Setting_5.png";
import User from "../../../public/img/User.png";
import User_2 from "../../../public/img/Users_2.png";
import TopArrow from "../../../public/img/TopArrow.png";

import logo from "../../../public/img/logo.png";

export default {
    setup() {
        const logo1 = ref(logo);
        const Bars1 = ref(Bars);
        const Book1 = ref(Book);
        const Setting1 = ref(Setting);
        const User1 = ref(User);
        const User2 = ref(User_2);
        const TopArrow1 = ref(TopArrow);
        return {
            logo1,
            Bars1,
            Book1,
            Setting1,
            User1,
            User2,
            TopArrow1,
        };
    },
};
</script>

<style lang="scss">
$text-color: #437993;
$text-sign: #d2d2d2;
$white: #fff;
$bg-color: #f7d0a3;

.active{
    color: $text-color !important;
    filter: invert(41%) sepia(44%) saturate(482%) hue-rotate(155deg) brightness(95%) contrast(87%);
}


.sidebar {
    background-color: $bg-color;
    box-shadow: 2px 2px 20px 4px rgba(0, 0, 0, 0.2);
    min-height: 100vh;
    .heading {
        display: flex;
        align-items: center;

        img {
            margin-top: 30px;
            margin-left: 20px;
            margin-bottom: 56px;
            height: 120px;
        }

        h1 {
            font-size: 42px;
            line-height: 50px;
            font-weight: 500;
            transform: translateY(-32%);
            color: $text-color;
            margin-right: 12px;
        }
    }

    .sidebar-list {
        .sidebar-item {
            display: flex;
            align-items: center;
            padding-left: 50px;
            position: relative;
            margin-bottom: 26px;
            cursor: pointer;
            transition: all 1s;
            text-decoration: none;
            color: #000;

            &:hover img {
                filter: invert(41%) sepia(44%) saturate(482%) hue-rotate(155deg) brightness(95%) contrast(87%);
            }

            &:hover p {
                color: $text-color;
            }

            &::after {
                content: "";
                border-bottom: 2px solid $text-sign;
                position: absolute;
                top: 30px;
                left: 52px;
                right: 18px;
            }

            img {
                margin-right: 15px;
            }

            p {
            }

            .arrow {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
            }
        }
    }
}
</style>
