<template>
    <div class="container">
        <a-table :dataSource="mangaList" :columns="columns">
            <template #bodyCell="{ column, index ,record}">
                <template v-if="column.key === 'index'">
                    <span>{{ index + 1 }}</span>
                </template>
                <template v-if="column.key === 'action'">
                    <a-button type='button' class="primary" @click="edit(record.id)">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a-button>
                    <a-button type='light' class="danger">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a-button>
                </template>
            </template>
        </a-table>
        <Footer/>
    </div>

</template>

<script>
import Add from '../../../public/img/Add.png'
import Edit from '../../../public/img/Edit.png'
import Delete from '../../../public/img/Delete.png'
import {ref, computed, watch, defineComponent} from "vue";
import {FormOutlined} from '@ant-design/icons-vue';
import {useStore} from 'vuex';
import Footer from "./Footer";
import {useRouter} from "vue-router";
import {useRoute} from 'vue-router'
import {h} from 'vue'

export default defineComponent({
    components: {Footer, FormOutlined},
    setup() {

        const editImg = ref(Edit)
        const addImg = ref(Add)
        const DeleteImg = ref(Delete)
        const isOpenModal = ref(false)
        const store = useStore();
        const router = useRouter();
        store.dispatch("manga/getMangaAction");
        const mangaList = computed(() => store.state.manga.mangaList);


        function edit(id) {
            router.push(`/client/${id}`)
        }

        function handleOpen() {
            return isOpenModal.value = true
        }


        const columns = [
            {
                title: '#',
                dataIndex: 'id',
                key: 'index',
            },
            {
                title: 'Tên truyện',
                dataIndex: 'story_name',
                key: 'story_name',
            },
            {
                title: 'Thể loại',
                dataIndex: 'category',
                key: 'category',
            },
            {
                title: 'Số chương',
                dataIndex: 'number_chapter',
                key: 'number_chapter',
            },
            {
                title: 'Số chuơng miễn phí',
                dataIndex: 'number_chapter_free',
                key: 'number_chapter_free',
            },
            {
                title: 'Giá mỗi chương',
                dataIndex: 'price',
                key: 'price',
            },
            {
                title: 'Công cụ',
                key: 'action',
                fixed: 'right'
            }
        ]




        return {
            mangaList,
            editImg,
            addImg,
            DeleteImg,
            isOpenModal,
            handleOpen,
            // getMangas,
            // manga,
            columns,
            edit
        }
    }
})
</script>

<style lang="scss">
$text-color: #437993;
$text-sign: #d2d2d2;
$white: #fff;
$bg-color: #f7d0a3;


.container {
    position: relative;
}


table {
    overflow: hidden;
    font-weight: 300;

    tr {
        text-align: center;
    }

    tr:nth-child(odd) {
        background-color: $text-sign;

        th {
            height: 51px;
            padding: 0px 10px;
            text-align: center;
            background-color: $bg-color !important;

            &:first-child {
                width: 83px;
                text-align: center;
            }

            &:nth-child(2) {
                width: 250px;
            }

            &:nth-child(3) {
                width: 150px;
            }

            &:nth-child(4) {
                width: 136px;
            }

            &:nth-child(5) {
                width: 200px;
            }

            &:nth-child(6) {
                width: 182px;
            }

            &:last-child {
            }
        }

        td {
            text-align: center;
            height: 51px;
            padding: 0px 10px;
        }
    }
}

.ant-table {
    background: transparent !important;
}

.ant-table table {
    margin: 25px auto !important;
    width: unset !important;
}

.ant-table-pagination-right {
    justify-content: center !important;
}

.ant-spin-container {
    margin: 0 20px;
}

.ant-pagination-options {
    display: none !important;
}

.ant-pagination-item {
    border-radius: 24px !important;
}

.ant-pagination-item-active {
    background: $bg-color !important;
    border: none !important;
}

.ant-pagination-item-active a {
    color: $text-color !important;
}


.ant-pagination-disabled .ant-pagination-item-link, .ant-pagination-disabled:hover .ant-pagination-item-link {
    color: $text-color !important;
}

.ant-btn{
    background: inherit!important;
    //border-color: unset !important;
    box-shadow: unset !important;
    border: none !important;

    &:hover{
        color: $text-color !important;
    }
}



.ant-table-cell-fix-left, .ant-table-cell-fix-right{
    background: unset !important;
}


.ant-table-tbody > tr.ant-table-row:hover > td, .ant-table-tbody > tr > td.ant-table-cell-row-hover{
    background: inherit !important;
}

</style>
